---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Penguin me";
---
<BaseLayout />
<h1>Blog post</h1>
<p> Here I upload my blogs. So stay tuned! </p>
<ul>
<li><a href="/posts/post-1/"> Posts-1 </a> </li>
<li><a href="/posts/post-2/"> Posts-2 </a> </li>
<li><a href="/posts/post-3/"> Posts-3 </a> </li>
</ul>
